<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/newquestion">Frage stellen</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/questionlist">Fragenübersicht</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">Anmelden</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/registration">Registrieren</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Abmelden</a>
        </li>
    </ul>
</div>