<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <!--<link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<!--    <link rel="stylesheet" th:href="@{/css/main.css}"/>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>

</head>

<body>




<div w3-include-html="navigation.html"></div>
<!--<script>
    w3.includeHTML();
</script>-->

<div class="container-fluid padding" >
    <div class="row text-center">
        <div class="col-lg-12">
            <h2>Registrieren</h2>
        </div>

    </div>
</div>

<main role="main" class="container">
    <form th:action="@{/registration}" method="post" modelAttribute="user">
        Name:<br>
        <input type="text" name="name" placeholder="Nickname">
        <br>
        Password:<br>
        <input type="password" name="password" placeholder="Password">
        <br>
        Confirm your Password:<br>
        <input type="password" name="password" placeholder="Confirm Password">
        <br><br>
        <input type="submit" value="Submit">
    </form>

</main>
<!-- /.container -->

<!--<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>-->
</body>
</html>
