<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>QQuestion</title>

    <!--<link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

        html, body {
            height: 100%;
            width: 100%;
            font-family: 'Poppins', sans-serif;
            background-color: #e1f5fe;
        }
        .navbar {
            padding: .8rem;
        }
        .nav-link {
            font-size: 1.1em !important;
        }
        ul{
            display: inline-block;
        }
        .padding {
            padding-bottom: 2rem;
        }
    </style>
    <script>
    function validateForm() {
    var name = document.forms["registerForm"]["name"].value;
    var pw = document.forms["registerForm"]["password"].value;
    var cpw = document.forms["registerForm"]["confirmPassword"].value;


    if (name == "" || pw == "" || cpw == "") {
        alert("Bitte fülle alle Felder aus.");
        return false;
    } else if (pw != cpw) {
        alert("Die Passwörter müssen übereinstimmen!");
        return false;
    }
    }
    </script>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="./"><p style="font-size: 2em; color: #afc2cb; margin-bottom: 0;">QQ</p></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="./">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./newquestion">Frage stellen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./questionlist">Fragenübersicht</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./login">Anmelden</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./registration"><b>Registrieren</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid padding" >
    <div class="row text-center">
        <div class="col-lg-12">
            <h2>Registrieren</h2>
        </div>
    </div>
</div>

<main role="main" class="container">
    <div class="container-fluid padding" >
        <div class="row text-center">
            <div class="col-lg-12">
    <form th:action="@{/registration}" th:object="${registration}" name="registerForm" onsubmit="return validateForm()" method="post" id="postForm">
        Name:<br>
        <input th:field="*{userName}" id="username" type="text" name="name" placeholder="Nickname">
        <br>
        Passwort:<br>
        <input th:field="*{password}" id="password" type="password" name="password" placeholder="Passwort">
        <br>
        Passwort erneut eingeben:<br>
        <input th:field="*{confirmPassword}" id="confirmPassword" type="password" name="confirmPassword" placeholder="Passwort bestätigen">
        <br><br>
<!--        <div hidden>-->
            <input type="submit" value="Submit" id="submitButton">
        </div>
        <input type="button" onclick="checkNoDuplicateUserName()" value="Submit">
    </form>
    </div>
    </div>
    </div>
</main>
<!-- /.container -->

<div hidden>
    <table id="planTable" class="table table-bordered table-condensed"
           data-toggle="table">
        <thead>
        <tr>
            <td>username</td>
            <td>id on this page</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, stats: ${allUser}">
            <td th:id="username + ${stats.index}" th:text="${user.getUsername()}" ></td>
            <td th:text="${user.getUsername()} + ${stats.index}" ></td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    document.onload(checkNoDuplicateUserName());

    /**
     * Checks if a user with the same name already exists
     * */
    function checkNoDuplicateUserName(){
        console.log("checkNoDuplicateUserName: entered");
        var tableSize= document.getElementById("planTable").rows.length - 1;
        console.log("listLength: " + tableSize);
        var passesTest = true;
        console.log("checkNoDuplicateUserName: Current ID:" +document.getElementById("username").value);
        if(document.getElementById("username").value != (null || "")){
            for (var i = 0; i < tableSize; i++){
                var id = "username" + i;
                console.log("ID: " + id);
                console.log(document.getElementById(id).innerHTML);
                if (document.getElementById("username").value == document.getElementById(id).innerHTML){
                    passesTest = false;
                    alert("Dieser Name ist bereits für einen User vergeben. Bitte wähle einen anderen.");
                }
            }
            console.log("checkNoDuplicateUserName: case: exiting");
        } else {
            passesTest = false;
        }
        if (passesTest){
            document.getElementById("postForm").submit();
        }
    }
</script>
<!--<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>-->
</body>
</html>
